In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

In [2]:
temp_df= pd.read_excel("testdata.xlsx", header=0)

In [3]:
temp_df.head()

,STATE,STATEcode,COUNTY,COUNTYFIPS,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,...,TO-WGWTo,TO-WSWFr,TO-WSWSa,TO-WSWTo,TO-WFrTo,TO-WSaTo,TO-Wtotl,TO-CUsFrPartial,TO-CUsSaPartial,TO-CUTotPartial
0,AZ,4,Apache County,1,4001,2015,71.474,48.854,0.000,48.854,...,29.77,1.83,0.0,1.83,31.60,0.0,31.60,20.35,0.0,20.35
1,AZ,4,Cochise County,3,4003,2015,126.427,102.627,0.000,102.627,...,240.85,0.00,0.0,0.00,240.85,0.0,240.85,178.17,0.0,178.17
2,AZ,4,Coconino County,5,4005,2015,139.097,103.701,23.336,127.037,...,18.29,20.68,0.0,20.68,38.97,0.0,38.97,19.29,0.0,19.29
3,AZ,4,Gila County,7,4007,2015,53.159,44.404,0.055,44.459,...,25.08,1.10,0.0,1.10,26.18,0.0,26.18,2.78,0.0,2.78
4,AZ,4,Graham County,9,4009,2015,37.666,30.656,0.000,30.656,...,113.76,76.79,0.0,76.79,190.55,0.0,190.55,146.82,0.0,146.82

In [4]:
y= temp_df["TO-Wtotl"]

In [5]:
X=temp_df.drop(["TO-Wtotl", "STATE", "COUNTY"], axis=1)

In [6]:
X

,STATEcode,COUNTYFIPS,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,PS-WGWFr,PS-WGWSa,...,TO-WGWSa,TO-WGWTo,TO-WSWFr,TO-WSWSa,TO-WSWTo,TO-WFrTo,TO-WSaTo,TO-CUsFrPartial,TO-CUsSaPartial,TO-CUTotPartial
0,4,1,4001,2015,71.474,48.854,0.000,48.854,5.77,0.0,...,0.00,29.77,1.83,0.0,1.83,31.60,0.00,20.35,0.0,20.35
1,4,3,4003,2015,126.427,102.627,0.000,102.627,16.15,0.0,...,0.00,240.85,0.00,0.0,0.00,240.85,0.00,178.17,0.0,178.17
2,4,5,4005,2015,139.097,103.701,23.336,127.037,16.22,0.0,...,0.00,18.29,20.68,0.0,20.68,38.97,0.00,19.29,0.0,19.29
3,4,7,4007,2015,53.159,44.404,0.055,44.459,4.82,0.0,...,0.00,25.08,1.10,0.0,1.10,26.18,0.00,2.78,0.0,2.78
4,4,9,4009,2015,37.666,30.656,0.000,30.656,3.80,0.0,...,0.00,113.76,76.79,0.0,76.79,190.55,0.00,146.82,0.0,146.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,56,37,56037,2015,44.626,1.452,42.776,44.228,0.33,0.0,...,5.77,19.83,132.13,0.0,132.13,146.19,5.77,48.19,0.0,48.19
235,56,39,56039,2015,23.125,19.447,0.488,19.935,7.59,0.0,...,0.00,7.97,103.55,0.0,103.55,111.52,0.00,22.57,0.0,22.57
236,56,41,56041,2015,20.822,1.160,15.978,17.138,0.41,0.0,...,0.05,41.17,346.73,0.0,346.73,387.85,0.05,111.64,0.0,111.64
237,56,43,56043,2015,8.328,7.012,0.000,7.012,0.09,0.0,...,0.35,8.55,260.10,0.0,260.10,268.30,0.35,64.22,0.0,64.22
238,56,45,56045,2015,7.234,5.283,0.046,5.329,1.01,0.0,...,0.66,2.53,22.83,0.0,22.83,24.70,0.66,5.01,0.0,5.01

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=40, random_state=1)
X_train.shape

(199, 138)

In [8]:
model = LinearRegression()

In [9]:
model.fit(X_train, y_train)

LinearRegression()